@font-face {
	font-family: 'Liberation Mono';
	src: url('fonts/liberation.ttf') format('truetype');
}

body {
	font-size: 16px;
	line-height: 1.5em;

	font-family: 'Liberation Mono', monospace;

	width: 40em;
	margin: 0 auto;
}
